    @font-face {
      font-family: "Open Sans";
      src: url("OpenSans-Regular.ttf");
    }

header, footer
{
    text-align: center;
    width: 100%;
}

a, a:visited
{
    color: black;
}

html
{
    height: calc(96% - 2em);
}

body
{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #E6E6E6;
    font-family: "Open Sans";
}

#content
{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0px;
    margin-bottom: 2%;
    height: 80%;
    border: 1em solid #005580;
    background-color: #11AAEA;
    color: black;
    border-radius: 2em;
    padding: 0.5em;
    overflow: auto;
    font-size: 1.5em;
letter-spacing: 0.05em;
text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
background-image: url("http://media.noco.tv/slider/decouvrir-noco.jpg");
background-position: right bottom;
background-repeat: no-repeat;
background-size: auto 100%;
}

#content a
{
    color: white;
    text-decoration: none;
}

#boutons
{
    width: 100%;
}

.bouton
{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    color: white;
    text-decoration: none;
    background-color: #005580;
    text-align: center;
    border-radius: 0.5em;
    margin-bottom: 1em;
    margin-top: 1em;
    display: block;
margin: 1em auto;
}

#categories
{
    width: 35%;
padding-left: 0px;
    display: inline-block;
}

#categories li
{
    background-color: #a8a8a8;
    padding: 0.5em;
    text-shadow: none;
}

#categories li a
{
    color: black;
}

#categories li:hover, #categories li.cat-selected
{
    background-color: #005580;
}

#categories li:hover a, #categories li.cat-selected a
{
    color: white;
}

#categories li + li
{
    border-top: 1px solid white;
}

#categories li:first-child
{
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

#categories li:last-child
{
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

p
{
    margin: 0px;
}

#categorie
{
    width: 60%;
display: inline-block;
vertical-align: top;
padding-top: 1em;
}

header h1
{
    display: inline-block;
    padding-left: 3em;
    padding-right: 3em;
}

header a.bouton
{
    color: white;
    width: 10em;
    display: inline-block;
}

.famille
{
    background-color: rgba(255, 255, 255, 0.7);
    min-height: calc(72px + 1em);
    border-radius: 1em;
}

.famille img
{
    float: left;
    margin-right: 1em;
    margin-left: 0.5em;
    margin-top: 0.5em;
    border-radius: 0.5em;
}

.famille h2
{
    font-size: 1em;
    display: block;
    margin: 0px;
}

.famille .lien-video
{
    background-color: rgb(0, 85, 128);
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 0.5em;
    font-size: 0.75em;
}

.famille + .famille
{
    margin-top: 0.5em;
}

/*Petit écran*/
@media screen and (max-width: 1023px) {
html
{
    height: auto;
}

#content
{
    height: auto;
    margin: 0px;
    border: 0px;
    border-radius: 0px;
}
}